body {
    margin: 0;
}

.headerBox {
    width: 100%;
}

.header {
    margin: 0;
    padding: 0;
    border: 4px inset linen;
    width: auto;
    height: 10vh;
    background-color: #d2750d;
    display: flex;
    justify-content: space-between;
    font-size: 2vw;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    color: #0D6AD2;
}

.leftHead {
    margin: auto 2%;
    padding: 5px;
    border: 3px outset lightgray;
    border-radius: 8px;
    width: 10%;
    height: auto;
    text-shadow: 0.5px 0.5px 0.5px black;
}

.leftHead:hover {
    cursor: pointer;
    text-shadow: 1px 1px 1px darkgrey;
}

.midHead {
    margin: auto 2%;
    padding: 0;
    width: 50%;
    height: auto;
    font-size: 5vw;
    color: #0D6AD2;
    text-shadow: 1.5px 1.5px 3px black;
}

.rightHead {
    margin: auto 2%;
    padding: 5px;
    border: 3px outset lightgray;
    border-radius: 8px;
    width: 15%;
    height: auto;
    text-shadow: 0.5px 0.5px 0.5px black;
}

.rightHead:hover {
    cursor: pointer;
    text-shadow: 1px 1px 1px darkgrey;
}

.board {
    width: 100%;
    height: 88vh;
    background-color: #0D6AD2;
}

.cardStage {
    padding: 2vw;
    width: 96vw;
    max-height: 50vh;
}

.card {
    display: block;
    max-height: 17.5vh;
    max-width: 10.0vw;
    width: auto;
    height: auto;
}

.pyramids {
    display: flex;
    justify-content: center;
}

.leftPyramid {}

.midPyramid {
    /*margin: 0 0.25vw;*/
}

.rightPyramid {}

.cardBox {
    display: flex;
    justify-content: center;
}

.firstTier {
    display: flex;
    justify-content: center;
    z-index: 0;
}

.secondTier {
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-top: -20%;
}

.thirdTier {
    display: flex;
    justify-content: center;
    z-index: 2;
    margin-top: -20%;
}

.fourthTier {
    display: flex;
    justify-content: center;
    z-index: 3;
    margin-top: -4%;
}

.cardBoxBot {
    display: flex;
    justify-content: left;
    margin-top: 8vh;
}

.cardBoxPlay {
    /*display: flex;*/
    margin-top: 8vh;
}

.stockPile {
    display: flex;
    justify-content: space-between;
}
