body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;

}

.headerBox {
    width: 100%;
}

.header {
    margin: 0;
    padding: 0;
    border: 4px inset #46303a;
    width: auto;
    height: 11vh;
    background-color: #7E6B8F;
    display: flex;
    justify-content: space-between;
    font-size: 2vw;
    text-align: center;
    color: #A3D9FF;
}

.leftHead {
    margin: auto 2%;
    padding: 5px;
    border: 3px outset lightgray;
    border-radius: 8px;
    width: 10%;
    height: auto;
    text-shadow: 0.5px 0.5px 0.5px black;
    background-color: #845A6D;
}

.leftHead:hover {
    cursor: pointer;
    text-shadow: 1px 1px 1px darkgrey;
}

.midHead {
    margin: auto 2%;
    padding: 0;
    width: 50%;
    height: auto;
    font-size: 5vw;
    color: #A3D9FF;
    text-shadow: 1.5px 1.5px 3px black;
}

.rightHead {
    margin: auto 2%;
    padding: 5px;
    border: 3px outset lightgray;
    border-radius: 8px;
    width: 15%;
    height: auto;
    text-shadow: 0.5px 0.5px 0.5px black;
    background-color: #845A6D;
}

.rightHead:hover {
    cursor: pointer;
    text-shadow: 1px 1px 1px darkgrey;
}

.board {
    width: 100%;
    height: 88vh;
    background-color: #0D6AD2;
}

.cardStage {
    padding: 4% 2% 2% 2%;
    width: 96%;
    max-height: 50%;
}

.card {
    display: block;
    max-height: 17.5vh;
    max-width: 10.0vw;
    width: auto;
    height: auto;
}

.pyramids {
    display: flex;
    justify-content: center;
}

.leftPyramid {}

.midPyramid {}

.rightPyramid {}

.cardBox {
    display: flex;
    justify-content: center;
}

.firstTier {
    display: flex;
    justify-content: center;
    z-index: 0;
}

.secondTier {
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-top: -20%;
}

.thirdTier {
    display: flex;
    justify-content: center;
    z-index: 2;
    margin-top: -20%;
}

.fourthTier {
    display: flex;
    justify-content: center;
    z-index: 3;
    margin-top: -4%;
}

.cardBoxpile {
    display: flex;
    /*justify-content: left;*/
    margin-top: 8%;
    width: 60%;
    background: rgba(255, 255, 255, 0.5);
}

.cardBoxplay {
    margin-top: 8%;
    z-index: 2;
}

.stockPile {
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.pile {
    margin-left: -15%;
    cursor: pointer;
}

.cardDiv {
    width: 100%;
}

.invis {
    visibility: hidden;
}

.cursor {
    cursor: pointer;
}

.stickyFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.score {
    margin-left: 70%;
    left: 0;
    right: 0;
    background-color: #7E6B8F;
    border-top: 4px inset #46303a;
    border-left: 4px inset #46303a;
    border-right: 4px inset #46303a;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #A3D9FF;
    text-shadow: 0.5px 0.5px 0.5px black;
    width: 15%;
    padding: 0.5%;
    font-size: 2vw;
}
